body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content:center;
  flex-direction: column;
  width: 100%;
  background-color: #F7B39F;
}

* {
  box-sizing: border-box;
}
.hjedna{
  background-color: #2d333b;
  color: white;

}

.nadpis{
  height: auto;
  text-align: center;
  background-color: #FA9579;
  color: white;
  width: 75%;
  margin: 2%;
}

.reserveBtn{
  border: none;
  color: #403D58;
  background-color: #FC7753;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  width: fit-content;
  min-width: 250px;
  height: auto;
  
}
#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 100%;
}

.resBtn{
  width: auto;
  background-color:#FA9579;
  color: #403D58;
  border: hidden;
  transition: ease-in-out 0.15s;
  font-weight: bold;
}
.resBtn:hover{
  transition: ease-in-out 0.15s;
  color: #403D58;
  border: 2px solid #d66646;
}
.selFil{
  margin-top: 10%;
}